*{
    margin: 0;
    padding: 0;
}
body{
    color: black;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header{
    position: relative;
}
header::before{
    top: 0;
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}
.logo{
    position: absolute;
    left: 0;
    font-size: 26px;
}
.navbar{
    padding: 10px 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.item-list{
    display: flex;
}
.item-list li{
    list-style: none;
}
.item-list li a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
.item-list li a:hover{
    background-color: darkblue;
    color: white;
    border-radius: 4px;
}

/* .container{
    height: 10rem;
    width: 10rem;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    animation: dev infinite 3s;
}

@keyframes dev {
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 100px;
        left: 0;
    }
    50%{
        top: 100px;
        left: 300px;
    }
    75%{
        top: 0;
        left: 300px;
    }
    100%{
        top: 0;
        left: 0;
    }
} */